@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #0e1930;
  font-family: "Source Code Pro", monospace;
  font-weight: "bold";
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}


button {
  font-size: 32px;
  font-weight: "bold";
}

.float-container {
  display: grid;
  grid-template-columns: 4fr 2fr;
}

.float-container-experience {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.float-container-header {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.float-child {
  flex: 1;
  /* float: right; */
}

.title {
  font-size: 36px;
}

.experience-duration {
  color: #a7f3ff;
  font-size: 30px;
}

.iconColors {
  color: #a7f3ff;
  margin-top: 16px;
  margin-right: 24px;
}

.resume-button {
  border-color: #a7f3ff;
  border-radius: 20px;
  border-width: 10px;
  padding: 5px;
}

.experience-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.experience-desc {
  font-size: 20px;
}

.experience-subpos {
  font-size: 24px;
}

.experience-subdur {
  font-size: 22px;
  color: #a7f3ff;
}

.project-icons {
  margin-right: 20px;
}

.project-icons:hover {
  color: #a7f3ff;
}

.header-hover:hover {
  color: #a7f3ff;
}

.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
  margin-right: 2em;
  float: right;
}

.bm-burger-bars {
  background: #a7f3ff;
  float: right;
}

.bm-burger-bars-hover {
  background: #a7f3ff;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #a7f3ff;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #2d3a55;
  padding: 2em 2em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #ffffff;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-item {
  display: inline-block;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #a7f3ff;
}