@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #0e1930;
  font-family: "Source Code Pro", monospace;
  font-weight: "bold";
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  font-size: 32px;
  font-weight: "bold";
}

.float-container {
  display: grid;
  grid-template-columns: 4fr 2fr;
}

.float-container-experience {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.float-container-header {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.float-child {
  flex: 1;
}

.project-divs {
  background-color: #2d3a55;
  font-family: "Source Code Pro", monospace;
  font-weight: "bold";
  color: #ffffff;
}

.experience-divs {
  background-color: #2d3a55;
  font-family: "Source Code Pro", monospace;
  font-weight: "bold";
  color: #ffffff;
}

.title {
  font-size: 36px;
}

.experience-duration {
  color: #a7f3ff;
  font-size: 30px;
}

.iconColors {
  color: #a7f3ff;
}

.resume-button {
  border-color: #a7f3ff;
  border-radius: 20px;
  border-width: 10px;
  padding: 5px;
}