.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sections {
  padding-top: 250px;
  padding-bottom: 250px;
}

.intro {
  font-size: 32px;
}

.name {
  color: #a7f3ff;
  font-size: 100px;
}

.subtext {
  font-size: 24px;
}

.sectionHeaders {
  font-size: 48px;
}

.contactText {
  font-size: 36px;
}

.email {
  color: #a7f3ff;
  font-size: 36px;
}

@media (max-width: 600px) {
  .subtext {
    text-align: center;
  }
  .sections {
    margin: 0px auto;
  }
  .container {
    padding: 0 0;
    margin: 0 20px;
  }
  .socialLinks {
    text-align: center;
  }
}